<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <div class="icon-text">
        <span class="icon">
          <i class="fas fa-question"></i>
        </span>
        <p class="title" [ngClass]="textSize">
          第{{questionNumber}}問
        </p>
      </div>
      <p class="title has-text-centered display-newline" [ngClass]="textSize">
        {{question}}
      </p>
    </div>

    <form class="box">
      <table class="block"><tbody>
        <tr>
          <td colspan="7">
            <p class="label has-text-right has-text-primary">
              経過時間：{{elapsedTime}}
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <p></p>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <p class="label">・ネットワークアドレス</p>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <p class="has-text-grey-light has-text-right">{{nwaddr}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="control">
              <input id="nwaddr_1st" name="nwaddr_1st" class="input"
                     type="text" inputmode="numeric" pattern="\d*"
                     placeholder="192" ngModel maxlength="3"
                     [(ngModel)]="nowAns.nwaddr_1st"
                     [ngClass]="nwErrCheck(nw1.value)"
                     (ngModelChange)="nwAddrChange()" #nw1>
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="nwaddr_2nd" name="nwaddr_2nd" class="input"
                     type="text" inputmode="numeric" pattern="\d*"
                     placeholder="168" ngModel maxlength="3"
                     [(ngModel)]="nowAns.nwaddr_2nd"
                     [ngClass]="nwErrCheck(nw2.value)"
                     (ngModelChange)="nwAddrChange()" #nw2>
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="nwaddr_3rd" name="nwaddr_3rd" class="input"
                     type="text" inputmode="numeric" pattern="\d*"
                     placeholder="0" ngModel maxlength="3"
                     [(ngModel)]="nowAns.nwaddr_3rd"
                     [ngClass]="nwErrCheck(nw3.value)"
                     (ngModelChange)="nwAddrChange()" #nw3>
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="nwaddr_4th" name="nwaddr_4th" class="input"
                     type="text" inputmode="numeric" pattern="\d*"
                     placeholder="1" ngModel maxlength="3"
                     [(ngModel)]="nowAns.nwaddr_4th"
                     [ngClass]="nwErrCheck(nw4.value)"
                     (ngModelChange)="nwAddrChange()" #nw4>
            </span>
          </td>
        </tr>
        <tr [style.display]="isErrNwaddr ? 'table-row' : 'none'">
          <td colspan="7">
            <p class="has-text-danger has-text-centered">
              IPv4アドレスとして不正な値が入力されています
            </p>
          </td>
        </tr>

        <tr>
          <td colspan="7">
            <p class="label mt-5">・ブロードキャストアドレス</p>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <p class="has-text-grey-light has-text-right">{{bcaddr}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="control">
              <input id="bcaddr_1st" name="bcaddr_1st" class="input"
                     type="text" inputmode="numeric" pattern="\d*"
                     placeholder="192" ngModel maxlength="3"
                     [(ngModel)]="nowAns.bcaddr_1st"
                     [ngClass]="bcErrCheck(bc1.value)"
                     (ngModelChange)="bcAddrChange()" #bc1>
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="bcaddr_2nd" name="bcaddr_2nd" class="input"
                     type="text" inputmode="numeric" pattern="\d*"
                     placeholder="168" ngModel maxlength="3"
                     [(ngModel)]="nowAns.bcaddr_2nd"
                     [ngClass]="bcErrCheck(bc2.value)"
                     (ngModelChange)="bcAddrChange()" #bc2>
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="bcaddr_3rd" name="bcaddr_3rd" class="input"
                     type="text" inputmode="numeric" pattern="\d*"
                     placeholder="0" ngModel maxlength="3"
                     [(ngModel)]="nowAns.bcaddr_3rd"
                     [ngClass]="bcErrCheck(bc3.value)"
                     (ngModelChange)="bcAddrChange()" #bc3>
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="bcaddr_4th" name="bcaddr_4th" class="input"
                     type="text" inputmode="numeric" pattern="\d*"
                     placeholder="255" ngModel maxlength="3"
                     [(ngModel)]="nowAns.bcaddr_4th"
                     [ngClass]="bcErrCheck(bc4.value)"
                     (ngModelChange)="bcAddrChange()" #bc4>
            </span>
          </td>
        </tr>
        <tr [style.display]="isErrBcaddr ? 'table-row' : 'none'">
          <td colspan="7">
            <p class="has-text-danger has-text-centered">
              IPv4アドレスとして不正な値が入力されています
            </p>
          </td>
        </tr>
      </tbody></table>

      <div class="control">
        <button class="button is-primary is-fullwidth"
                [disabled]="isErrNwaddr || isErrBcaddr" (click)="onNextClick()">
          次へ
        </button>
      </div>
    </form>
  </div>
</div>
