<div class="columns is-centered" style="margin-top: 15vh;">
  <div class="column is-half">
    <p class="notification is-info has-text-centered">192.168.255.255<br>@255.255.255.254</p>

    <form class="box">
      <table class="block"><tbody>
        <tr>
          <td colspan="7">
            <p class="label">・ネットワークアドレス</p>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <p class="has-text-grey-light has-text-right">192.168.0.1</p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="control">
              <input id="nwaddr-1" class="input is-info" type="text" inputmode="numeric" pattern="\d*" placeholder="192">
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="nwaddr-2" class="input is-info" type="text" inputmode="numeric" pattern="\d*" placeholder="168">
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="nwaddr-3" class="input is-info" type="text" inputmode="numeric" pattern="\d*" placeholder="0">
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="nwaddr-4" class="input is-info" type="text" inputmode="numeric" pattern="\d*" placeholder="1">
            </span>
          </td>
        </tr>

        <tr>
          <td colspan="7">
            <p class="label mt-5">・ブロードキャストアドレス</p>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <p class="has-text-grey-light has-text-right">192.168.0.1</p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="control">
              <input id="bcaddr-1" class="input is-info" type="text" inputmode="numeric" pattern="\d*" placeholder="192">
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="bcaddr-2" class="input is-info" type="text" inputmode="numeric" pattern="\d*" placeholder="168">
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
              <input id="bcaddr-3" class="input is-info" type="text" inputmode="numeric" pattern="\d*" placeholder="0">
            </span>
          </td>
          <td>
            <p class="title">.</p>
          </td>
          <td>
            <span class="control">
                <input id="bcaddr-4" class="input is-info" type="text" inputmode="numeric" pattern="\d*" placeholder="255">
            </span>
          </td>
        </tr>
      </tbody></table>

      <div class="control">
        <input id="next" class="button is-primary is-fullwidth" type="submit" value="次へ">
      </div>
    </form>
  </div>
</div>
