<section class="hero is-primary mb-5">
  <div class="hero-body">
    <div class="box">
      <div class="icon-text">
        <h1 class="title has-text-centered has-text-black" [ngClass]="textSize">
          <span class="icon">
            <i class="fas fa-network-wired"></i>
          </span>
          IPアドレス計算練習
          <span class="icon">
            <i class="fas fa-wifi"></i>
          </span>
        </h1>
      </div>
    </div>
  </div>
</section>

<app-error [style.display]="isError ? 'inline' : 'none'"></app-error>

<app-init-btn [style.display]="showInitBtn ? 'inline' : 'none'"></app-init-btn>

<app-choice [style.display]="showAppChoice ? 'inline' : 'none'"></app-choice>

<app-answer [style.display]="showAppAnswer ? 'inline' : 'none'"></app-answer>

<app-result [style.display]="showAppResult ? 'inline' : 'none'"><app-result>
