<section class="hero is-primary mb-5">
  <div class="hero-body">
    <div class="box">
      <h1 class="title is-5 has-text-centered has-text-black">★IPアドレス計算練習★</h1>
    </div>
  </div>
</section>

<section style="display: inline;">
  <div class="columns is-centered">
    <div class="column is-one-quarter">
      <button class="button is-primary is-fullwidth">始めから</button>
    </div>
    <div class="column is-one-quarter">
      <button class="button is-primary is-fullwidth">続きから</button>
    </div>
  </div>
</section>

<app-choice style="display: none;"></app-choice>

<app-answer style="display: inline;"></app-answer>

<app-result style="display: none;"><app-result>
