<div class="columns is-centered">
  <div class="column is-half">
    <div class="box">
      <p class="label">■問題数を選択してください</p>

      <p class="field has-addons">
        <span class="control is-expanded">
          <span class="select is-fullwidth">
            <select id="q_number" required [(ngModel)]="q_number">
              <option *ngFor="let n of q_nums" [value]="n">
                {{n}}問
              </option>
            </select>
          </span>
        </span>

        <span class="control">
          <button class="button is-primary" (click)="onStartClick()">
            開始
          </button>
        </span>
      </p>
    </div>
  </div>
</div>
