<div class="columns is-centered">
  <div class="column is-half">
    <form class="box">
      <p class="label">■問題数を選択してください</p>

      <p class="field has-addons">
        <span class="control is-expanded">
          <span class="select is-fullwidth">
            <select id="number" name="number">
              <option value="10" selected>10問</option>
              <option value="20">20問</option>
              <option value="30">30問</option>
              <option value="40">40問</option>
              <option value="50">50問</option>
              <option value="75">75問</option>
              <option value="100">100問</option>
            </select>
          </span>
        </span>

        <span class="control">
          <input type="submit" id="start" class="button is-primary" value="開始">
        </span>
      </p>
    </form>
  </div>
</div>
